.parent{
    background-color: violet;
    padding: 10px;
    height: 3500px;
    position: relative;
}
.child1 {
    background-color: red;
    /* position: absolute; */
    height: 86px;
    width: 67px;
}
.child2 {
    background-color: blue;
    position: absolute;
    left: 10px;
    z-index: 499;
}
.child3 {
    background-color: green;
     position: sticky;
     top: 100px;
    height: 120px !important;
    width: 100% !important;
}
.box{
    /* height: 100px;
    width: 250px; */
}